*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


header{
    width: 100%;
    background-color: black;
    height: 40px;
}

header li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

header li a{
    color: white;
    font-family: 'Georgia';
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    
}


.wrap{
    width: 1200px;
    margin: 0 auto;
}

.ctt-post{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-right: 50px;
}

.aside{
    display: inline-block;
    vertical-align: top;
    background-color: grey;
    width: 25%;
    height: 700px;
}

.stage {
    width: 100%;
    display: block;
    height: 700px;
    background: url('../images/btn/fond.jpg') 0 0 repeat;
    text-align: center;
}

.stage img{
    width: 450px;
    display: inline-block;
}


.nav-home{
    margin-top: -30px;
    margin-bottom: 30px;
}

.nav-home li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 250px;
    height: 50px;
    margin-right: 62px;
    border-bottom: 3px solid;
    background-color: #fefefe;    
   
}


.nav-home .current{
  background-color: #9ccfde;
    
}

.nav-home .current a{
    color: white;
}


.nav-home li:first-child{
    border-color: #9ccfde;
}
.nav-home li:nth-child(2){
    border-color: #c6e584;
}


.nav-home li:nth-child(3){
    border-color: #e0b9d9;
}

.nav-home li:last-child{
    margin-right: 0;
    border-color: #293035;
}

.nav-home li a{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    line-height: 10px;
    padding: 20px;
    text-decoration: none;
    
}


.nav-home li:hover:nth-child(2){
    background-color: #c6e584;
    transition:background-color .5s;
}
.nav-home li:hover:nth-child(3){
    background-color: #e0b9d9;
    transition:background-color .5s;
}
.nav-home li:hover:nth-child(4){
    background-color: #293035;
    transition:background-color .5s;
}

.nav-home li a:hover{
    color: white;
}


.post:first-child{
    width: 100%;
    display: block;
    margin-top: 50px;
}
.post:first-child a:before, .post:first-child a:after{
    content:"";
    width: 350px;
    transition: width 1s;
}
.post{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
    margin-bottom: 20px;
    
}

.post p{
    display: block;
    margin-top: 30px;
}
.post a{
    color: black;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    
}

.post h3{
    padding: 15px;
    background-color: black;
    color: white;
    display: initial;
}


.post:first-child a:hover:before, .post:first-child a:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a:hover:before, .post a:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a:before{
    content:"";
    width: 145px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    transition: width 1s;
}
.post a:after{
    content:"";
    width: 145px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: width 1s;
}



