*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


a:hover {
    text-decoration: none;
    color: #C6E584;
}

header{
    width: 100%;
    background-color: black;
    height: 40px;
}

header li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

header li a{
    color: white;
    font-family: 'Georgia';
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    
}

.container {
    width: 1200px !important;
}

.wrap{
    width: 1200px;
    margin: 0 auto;
}

.ctt-post{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-right: 50px;
}

.aside{
    display: inline-block;
    vertical-align: top;
    background-color: grey;
    width: 100%;
    height: 700px;
}

.stage {
    width: 100%;
    display: block;
    height: 700px;
    background: url('../images/btn/fond.jpg') 0 0 repeat;
    text-align: center;
}

.stage img{
    width: 450px;
    display: inline-block;
}



.nav-home div a {
    text-align: center;
    border-bottom: 3px solid ;
    background-color: #fefefe;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    color: #293036;
    font-family: 'Lato', sans-serif;
    
}

.nav-home div a.home {
    border-bottom: 3px solid #9ccfde;
}

.nav-home div a.actu {
    border-bottom: 3px solid #C6E584;
}

.nav-home div a.lycee {
    border-bottom: 3px solid #E0B9D9;
}

.nav-home div a.on {
    border-bottom: 3px solid #293036;
}

.nav-home div a.home:hover {
    border-bottom: 3px solid #9ccfde;
        background-color: #9ccfde;
    color: white;
}

.nav-home div a.actu:hover {
    border-bottom: 3px solid #C6E584;
        background-color: #C6E584;
    color: white;
}

.nav-home div a.lycee:hover {
    border-bottom: 3px solid #E0B9D9;
        background-color: #E0B9D9;
    color: white;
}

.nav-home div a.on:hover {
    border-bottom: 3px solid #293036;
        background-color: #293036;
    color: white;
}


.nav-home div a:hover {
    color: #293036;
    text-decoration: none;
    
}

.nav-home .current_home  a{
  background-color: #9ccfde; 
    border-bottom: 3px solid #9ccfde;
    color: white;
}

.nav-home .current_actus a{
  background-color: #C6E584;
    border-bottom: 3px solid #C6E584;
    color: white;
}

.nav-home .current_lycee a{
  background-color: #E0B9D9; 
    border-bottom: 3px solid #E0B9D9;
    color: white;
}




.post:first-child{
    width: 100%;
    display: block;
    margin-top: 50px;
}
.post:first-child a:before, .post:first-child a:after{
    content:"";
    width: 370px;
    transition: width 1s;
}
.post{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
    margin-bottom: 20px;
    
}

.post p{
    display: block;
    margin-top: 30px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: justify;
}
.post a{
    color: black;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
    display: block;
    
}

.post a:hover {
    text-decoration: none;
    color: #C6E584;
}

.post h3{
    padding: 12px;
    background-color: #293036;
    color: white;
    display: initial;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}


.post:first-child a:hover:before, .post:first-child a:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a:hover:before, .post a:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a:before{
    content:"";
    width: 142px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    transition: width 1s;
}
.post a:after{
    content:"";
    width: 142px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: width 1s;
}

.clear {
    clear:both;
}

footer {
    background: #293036;
    padding: 10px;
    color: white;
}

footer a {
    color: white;
    font-family: 'Lato', sans-serif;
}

footer a:hover {
    color: #C6E584;
    text-decoration: none;
}