*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
}


header{
    width: 100%;
    background-color: black;
    height: 40px;
}

header li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

header li a{
    color: white;
    font-family: 'Georgia';
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    
}


.wrap{
    width: 1200px;
    margin: 0 auto;
}

.ctt-post{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-right: 50px;
}

.aside{
    display: inline-block;
    vertical-align: top;
<<<<<<< HEAD
    background-color: #F3F3F3;
    border-bottom: 3px solid #293134;
    padding: 15px;
    max-height: 650px;
    width: 100%;
=======
    background-color: grey;
    width: 25%;
    height: 700px;
>>>>>>> 0af43fb5ea138a8f2e67261d2b8218115d1c4fc5
}

.stage {
    width: 100%;
    display: block;
    max-height: 600px;
    background: url('../images/btn/fond.jpg') 0 0 repeat;
    text-align: center;
    position: relative;
    z-index: 1;
}

.stage img{
    width: auto;
    display: inline-block;
    margin-top: 50px;
    margin-bottom:80px;
}


<<<<<<< HEAD
.nav-home{
    margin-top: -30px;
    margin-bottom: 30px;
=======
.nav-home {
    position: relative;
   top:-25px;
    z-index: 3;
>>>>>>> fbae079fa0a6b2b21094a47a1ca14f559f4d4397
}

.nav-home li{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
<<<<<<< HEAD
    width: 250px;
    height: 50px;
    margin-right: 62px;
    border-bottom: 3px solid;
    background-color: #fefefe;    
   
=======
    border-bottom: 3px solid ;
        background-color: #F5F5F5;
    display: block;
    text-transform: uppercase;
    padding: 10px;
    font-size: 16px;
    color: #293036;
    font-family: 'Lato', sans-serif;
    
>>>>>>> fbae079fa0a6b2b21094a47a1ca14f559f4d4397
}


.nav-home .current{
  background-color: #9ccfde;
    
}

.nav-home .current a{
    color: white;
}


.nav-home li:first-child{
    border-color: #9ccfde;
}
.nav-home li:nth-child(2){
    border-color: #c6e584;
}


.nav-home li:nth-child(3){
    border-color: #e0b9d9;
}

.nav-home li:last-child{
    margin-right: 0;
    border-color: #293035;
}

.nav-home li a{
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    color: black;
    line-height: 10px;
    padding: 20px;
    text-decoration: none;
    
}


.nav-home li:hover:nth-child(2){
    background-color: #c6e584;
    transition:background-color .5s;
}
.nav-home li:hover:nth-child(3){
    background-color: #e0b9d9;
    transition:background-color .5s;
}
.nav-home li:hover:nth-child(4){
    background-color: #293035;
    transition:background-color .5s;
}

.nav-home li a:hover{
    color: white;
}


.post:first-child{
    width: 100%;
    display: block;
    margin-top: 50px;
}
.post:first-child a.lireplus:before, .post:first-child a.lireplus:after{
    content:"";
<<<<<<< HEAD
    width: 370px;
    transition: width 2s;
=======
    width: 350px;
    transition: width 1s;
>>>>>>> 0af43fb5ea138a8f2e67261d2b8218115d1c4fc5
}
.post{
    width: 48%;
    display: inline-block;
    vertical-align: top;
    margin-right:10px;
    margin-bottom: 50px;
    
}

.post p{
    display: block;
    margin-top: 30px;
}
.post a.lireplus{
    color: black;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    display: block;
    
}

.post h3{
    padding: 15px;
    background-color: black;
    color: white;
    display: initial;
}


.post:first-child a:hover:before, .post:first-child a:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a.lireplus:hover:before, .post a.lireplus:hover:after{
    width: 50px;
    transition:width 1s;
}

.post a.lireplus:before{
    content:"";
    width: 145px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    transition: width 1s;
}
.post a.lireplus:after{
    content:"";
    width: 145px;
    height: 2px;
    background-color: black;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    transition: width 1s;
}



<<<<<<< HEAD
=======
footer a:hover {
    color: #C6E584;
    text-decoration: none;
}


.pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #293036 !important;
    cursor: default;
    background-color: #C6E584 !important;
    border-color: #C6E584 !important;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #C6E584 !important;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #293036 !important;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
<<<<<<< HEAD


.stats {
    font-size: 15px;
    text-align: right;
}

.stats .user {
    margin-right: 30px;
}

.check {
    display: block;
}

.check a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #293036;
    display: inline-block;
}

.check a:hover {
    color: #C6E584;
    text-decoration: none;
}

.aside h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.picolire {
    background:url('../images/element/open-book.png');
    width: 36px;
    height: 31px;
    display: inline-block;
margin-bottom: -8px;
margin-right: 8px;
}

.checkico {
    background:url('../images/element/check.png');
    width: 25px;
    height: 17px;
    display: inline-block;
    margin-right: 10px;
margin-top: 5px;
}

.twitter {
    background: url('../images/element/twitter.png');
    width: 254px;
    height: 266px;
    margin-left: -8px;
    margin-top: 50px;
}



header{
    width: 100%;
    background: #f3f3f3;;
    height: auto;
    padding: 5px;
}

header li{
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

header li a{
    color: white;
    font-family: 'Georgia';
    font-size: 14px;
    line-height: 35px;
    text-decoration: none;
    
}

.texte { 
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 100px;
}

.container {
    width: 1200px !important;
}

nav .wrap{
    width: 1200px;
    margin: 0 auto;
}

.like img{
    float :left;
    padding-right: 8px;
    padding-top: 4px;
}

.like p {
    color: #005dba;
    font-size: 14px;
    font-weight: bold;
    float: left;
   margin-top: 6px;
}

.search{
    display: inline-block;
     
}

.social{display: inline-block;}

input#search {
    background: #c6e584 url(../images/png/loupe.png) no-repeat 165px;
    text-indent: 20px;
    border: none;
    padding: 5px;
    position: relative;
    top: -5px;
}

input#search:focus 
{
    background-image:none;
}

.wrap .social a{
    float: right;
    padding-top: 5px;
    margin-left: 15px;
}
=======
>>>>>>> fbae079fa0a6b2b21094a47a1ca14f559f4d4397
>>>>>>> 0af43fb5ea138a8f2e67261d2b8218115d1c4fc5
